@tailwind base;
@tailwind components;
@tailwind utilities;
.the_container {
    width: 80%;
    padding: 20px;
}

.the_container h2 {
    width: 100%;
    color: #633739;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}

.the_container .row100 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.the_container .row100 .col {
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}

.the_container .row100 .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: #633739;
}

.the_container .row100 .inputBox input,
.the_container .row100 .inputBox.textarea textarea {
    position: absolute;
    width: 100%;
    height: auto;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #fff;
}

.the_container .row100 .inputBox .text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0, 5s;
    pointer-events: none;
}

.the_container .row100 .inputBox input:focus+.text,
.the_container .row100 .inputBox input:valid+.text {
    top: -35px;
    left: -10px;
}

.the_container .row100 .inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #633739;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

.the_container .row100 .inputBox input:focus~.line,
.the_container .row100 .inputBox input:valid~.line {
    height: 100%;
}

.the_container .row100 .inputBox .textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10 0;
}

.the_container .row100.inputBox .textarea textarea {
    height: 100%;
    resize: none;
}

.the_container .row100 .inputBox textarea:focus+.text,
.the_container .row100 .inputBox textarea:valid+.text {
    top: -35px;
    left: -10px;
}

.the_container .row100 .inputBox textarea:focus~.line,
.the_container .row100 .inputBox textarea:valid~.line {
    height: 100%;
}

input[type="submit"] {
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: #633739;
    color: #ffff;
    font-size: 18px;
    border-radius: 2px;
}

.the_container .row100 .col .textarea textarea {
    border: 2px solid #633739;
    color: #633739
}

.the_container .row100 .inputBox .clean {
    display: none;
}

@media only screen and (max-width: 540px) {
    .profil {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: 50%;
        gap: 60px 0px;
    }
    .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
    .texts {
        font-size: 15px;
        font-weight: bold;
    }
    .titre {
        font-size: 18px;
    }
    .photo {
        display: none
    }
    .intro {
        width: 80%;
    }
    .main_name {
        font-size: 20px
    }
    .menu {
        padding: 0px 5px 0px 5px;
    }
    .menu li {
        margin-right: 0;
    }
    .menu li a {
        padding: 5px
    }
    .about {
        height: auto;
    }
    .about .titre-about {
        font-size: 30px;
    }
    .about .content-about {
        display: flex;
        flex-direction: column;
    }
    .about .content-about .text-about {
        font-size: 15px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about .content-about .image {
        display: none;
    }
    .contact-titre {
        font-size: 1.5em;
    }
    .the_container .row100 .col .textarea textarea {
        border: 2px solid #633739;
        color: #633739
    }
    .the_container .row100 .inputBox .clean {
        display: none;
    }
    .mainP {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project {
        width: 280px;
        margin-bottom: 10px
    }
    /* .project .c-titre-tech {

    } */
    .project .c-titre-tech h1 {
        font-size: 15px;
        font-weight: bold;
    }
    .project .tech {
        font-size: 12px;
    }
    .project .tech p {
        width: 75px
    }
    .project .see p {
        font-size: 20px;
    }
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}